#timer {
    display: inline;
}

#myContainer {
    width: 525px;
    height: 75px;
    position: absolute;
    background: #fffdd0;
   }
#myAnimation1 {
    width: 25px;
    height: 25px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: red;
    border-radius: 50%;
    border: 1px solid #000;
   }
#myAnimation2 {
    width: 25px;
    height: 25px;
    bottom: 0px;
    left: 175px;
    position: absolute;
    background: green;
    border-radius: 50%;
    border: 1px solid #000;
   }