.mainDiv {
    width: 25%;
    height: 35%;
    top: 2.5%;
    font-size: 100%;
    text-align: left;
    position: absolute;
    right: 1%; 
    background: #e09a30;
    border-radius: 1%;
    border: 2px solid black;
  }

#timer {
    display: inline;
  }

.slider {
    -webkit-appearance: none;
    background: #e4e9b5;
    outline: black;
    width: 24vw;
    height: 2vw;
  }
.slider::-moz-range-thumb {
    background: #000000;
    height: 2vw;
    width: 2vw;
  }

#myContainer {
    width: 100%;
    height: 15%;
    left: 0%;
    bottom: 5%;
    position: absolute;
    background: #fffdd0;
   }
#myAnimation1 {
    width: 5%;
    padding-top: 5%;
    bottom: 0px;
    left: 0px;
    position: absolute;
    background: red;
    outline: 1px solid #000;
   }
#myAnimation2 {
    width: 5%;
    padding-top: 5%;
    bottom: 0px;
    left: 17.5%;
    position: absolute;
    background: green;
    outline: 1px solid #000;
   }

#floor {
  width: 100%;
  height: 5%;
  left: 0%;
  bottom: 0%;
  position: absolute;
  background: black;
  }